body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:811px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u598_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:630px;
  height:406px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:2px 2px 2px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:2px 2px 2px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:2px 2px 2px rgba(0, 0, 0, 0.349019607843137);
  text-align:left;
}
#u598 {
  border-width:0px;
  position:absolute;
  left:181px;
  top:71px;
  width:630px;
  height:406px;
  text-align:left;
}
#u598_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u599_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:630px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u599 {
  border-width:0px;
  position:absolute;
  left:181px;
  top:71px;
  width:630px;
  height:35px;
  text-align:left;
}
#u599_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:626px;
  word-wrap:break-word;
}
#u600_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u600 {
  border-width:0px;
  position:absolute;
  left:210px;
  top:120px;
  width:127px;
  height:17px;
}
#u600_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u601_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u601 {
  border-width:0px;
  position:absolute;
  left:210px;
  top:153px;
  width:159px;
  height:17px;
}
#u601_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  white-space:nowrap;
}
#u602_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u602 {
  border-width:0px;
  position:absolute;
  left:210px;
  top:205px;
  width:144px;
  height:17px;
}
#u602_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  white-space:nowrap;
}
#u603_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u603 {
  border-width:0px;
  position:absolute;
  left:210px;
  top:234px;
  width:169px;
  height:17px;
}
#u603_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  white-space:nowrap;
}
#u604_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u604 {
  border-width:0px;
  position:absolute;
  left:210px;
  top:260px;
  width:117px;
  height:17px;
}
#u604_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  white-space:nowrap;
}
#u605_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:37px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:1px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u605 {
  border-width:0px;
  position:absolute;
  left:394px;
  top:357px;
  width:97px;
  height:37px;
  color:#FFFFFF;
}
#u605_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:93px;
  word-wrap:break-word;
}
#u606_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u606 {
  border-width:0px;
  position:absolute;
  left:210px;
  top:179px;
  width:167px;
  height:17px;
}
#u606_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  white-space:nowrap;
}
